html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.6rem;
  font-family: "Red Hat Display", sans-serif;
  line-height: 1.6;
  color: #717fa6;
}

.btn-cancel:link,
.btn-cancel:visited,
.btn-change:link,
.btn-change:visited,
.btn-proceed:link,
.btn-proceed:visited {
  display: block;
  text-decoration-color: transparent;
  transition: 0.3s color, 0.3s background-color, 0.3s -webkit-text-decoration;
  transition: 0.3s color, 0.3s text-decoration, 0.3s background-color;
  transition: 0.3s color, 0.3s text-decoration, 0.3s background-color, 0.3s -webkit-text-decoration;
}

.btn-change:link,
.btn-change:visited {
  margin-left: auto;
  color: #382ae1;
  font-weight: 700;
  font-size: 1.4rem;
  text-underline-offset: 4px;
  text-decoration-color: #382ae1;
}

.btn-change:hover,
.btn-change:active {
  color: #766cf1;
  text-decoration-color: transparent;
}

.btn-proceed:link,
.btn-proceed:visited {
  margin-bottom: 3rem;
  padding: 1.5rem;
  color: #fff;
  font-weight: 900;
  font-size: 1.5rem;
  background-color: #382ae1;
  border-radius: 11px;
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
}

.btn-proceed:hover,
.btn-proceed:active {
  background-color: #766cf1;
}

.btn-cancel:link,
.btn-cancel:visited {
  display: inline-block;
  color: #717fa6;
  font-weight: 900;
}

.btn-cancel:hover,
.btn-cancel:active {
  color: #1f2e55;
}

.container {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #e0e8ff;
  max-width: 144rem;
  height: 100vh;
}
.container__hero, .container__hero--desktop {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}
.container__hero--desktop, .container__hero--desktop--desktop {
  display: none;
}
.container .order-summary-card {
  width: 45rem;
  background: #fff;
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
  border-radius: 20px;
  overflow: hidden;
  z-index: 1;
}
.container .order-summary-card__logo {
  width: 100%;
  height: 22rem;
}
.container .order-summary-card__content {
  padding: 4.5rem;
  text-align: center;
}
.container .order-summary-card__header {
  font-size: 2.8rem;
  font-weight: 900;
  color: #1f2e55;
  margin-bottom: 2rem;
}
.container .order-summary-card__text {
  font-weight: 500;
  margin-bottom: 2rem;
}
.container .order-summary-card .order-summary-annual-plan {
  display: flex;
  padding: 2.5rem;
  margin-bottom: 3rem;
  align-items: center;
  border-radius: 11px;
  background-color: #f7f9ff;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.container .order-summary-card .order-summary-annual-plan-box__header {
  font-size: 1.6rem;
  font-weight: 900;
  color: darkblue;
}
.container .order-summary-card .order-summary-annual-plan-box__price {
  font-weight: 500;
}

@media only screen and (min-width: 90em) {
  .container__hero {
    display: none;
    left: 0;
  }
  .container__hero--desktop {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */